<h1>Edit brand</h1>

<form id="edit-brand" name="brand">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Brand" />
  </div>

</form>

<a href="#/index">Back</a>