<h1>Edit campaign</h1>

<form id="edit-campaign" name="campaign">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Campaign" />
  </div>

</form>

<a href="#/index">Back</a>